table {
  position: relative;
  width: 100%;
  border-collapse: collapse;

  thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.45));
  }

  td {
    border: 1px solid var(--color-dark-4);
    font-size: 0.7em;
    padding: 4px;
  }

  tr {
    cursor: pointer;
    text-align: center;
    color: var(--color-text);
    background-color: var(--color-dark-1);
    
    transition: all ease-in .3s;

    &:nth-child(even){
      background-color: var(--color-dark-2);
    }

    &:hover {
      background-color: var(--color-dark-4);
    }
  }
  
  th {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color:var(--color-primary);
    color: var(--color-text);

    border-inline: 1px solid var(--color-dark-4);

    font-weight: 700;
    font-size: 0.8em;
  }
}
