@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #E51717;
  --color-secondary: #E53939;
  --color-tertiary: #BF1313;
  --color-light-1: #F2EDED;
  --color-light-2: #E5E1E1;
  --color-light-3: #D9D4D4;
  --color-light-4: #CCC8C8;
  --color-dark-1: #4D4545;
  --color-dark-2: #403A3A;
  --color-dark-3: #332E2E;
  --color-dark-4: #262323;
  --color-dark-5: #1A1717;
  --color-text: #F2EDED;
  --color-header: #E51717;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--color-dark-4);
  border-radius: 100vw;
  margin-top: 35px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-2);
  border-radius: 100vw;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-1);
}

body {
  background-color: var(--color-dark-5);
  font-family: "Poppins", sans-serif;
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.45));
}
table td {
  border: 1px solid var(--color-dark-4);
  font-size: 0.7em;
  padding: 4px;
}
table tr {
  cursor: pointer;
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-dark-1);
  transition: all ease-in 0.3s;
}
table tr:nth-child(even) {
  background-color: var(--color-dark-2);
}
table tr:hover {
  background-color: var(--color-dark-4);
}
table th {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-inline: 1px solid var(--color-dark-4);
  font-weight: 700;
  font-size: 0.8em;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-5);
  width: 100%;
  height: 100vh;
}
.main-container .component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 0.5em;
}
.main-container .component-container .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-container .component-container .top-bar .left-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.main-container .component-container .top-bar .left-element .tab-title {
  background-color: var(--color-primary);
  padding-inline: 3em;
  height: 32px;
  border-radius: 0.4em;
  color: var(--color-text);
  font-size: 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .component-container .top-bar .left-element .top-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2em;
}
.main-container .component-container .top-bar .left-element .top-button-container .crud-button {
  padding: 0.5em;
  color: var(--color-text);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-dark-3);
  border: none;
  outline: none;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.main-container .component-container .top-bar .left-element .top-button-container .crud-button:hover {
  background-color: var(--color-dark-1);
  color: var(--color-primary);
}
.main-container .component-container .top-bar .right-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.main-container .component-container .top-bar .right-element .search-field {
  height: 32px;
  width: 90%;
  padding-inline: 1em;
  color: var(--color-text);
  font-size: 0.8em;
  font-weight: 500;
  background-color: var(--color-dark-3);
  border: none;
  outline: none;
  border-radius: 0.4em 0 0 0.4em;
}
.main-container .component-container .top-bar .right-element .search-button {
  height: 32px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-dark-3);
  border: none;
  outline: none;
  border-radius: 0 0.4em 0.4em 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.main-container .component-container .top-bar .right-element .search-button:hover {
  background-color: var(--color-dark-1);
  color: var(--color-primary);
}
.main-container .component-container .grid-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-height: 80vh;
  min-height: 80vh;
  overflow: auto;
  border-bottom: 0.3em solid var(--color-primary);
}
.main-container .component-container .bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main-container .component-container .bottom-bar select {
  height: 32px;
  border-radius: 0.4em;
  color: var(--color-text);
  background-color: var(--color-dark-3);
  border: none;
  outline: none;
  width: fit-content;
  width: 90px;
}
.main-container .component-container .bottom-bar .pagination-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.2em;
  height: 32px;
  border-radius: 0.4em;
  background-color: var(--color-dark-4);
}
.main-container .component-container .bottom-bar .pagination-right .start {
  border-radius: 0.4em 0 0 0.4em;
}
.main-container .component-container .bottom-bar .pagination-right .end {
  border-radius: 0 0.4em 0.4em 0;
}
.main-container .component-container .bottom-bar .pagination-right .navigation-button {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-dark-3);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.main-container .component-container .bottom-bar .pagination-right .navigation-button:hover {
  background-color: var(--color-dark-1);
  color: var(--color-primary);
}
.main-container .component-container .bottom-bar .pagination-right .current-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  height: 32px;
  color: var(--color-dark-1);
  padding-inline: 0.5em;
  font-size: 0.7em;
}
.main-container .component-container .bottom-bar .pagination-right .current-page .page-number {
  color: var(--color-light-4);
}

/*# sourceMappingURL=index.css.map */
